<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.0/6.0 MB 45.8 MB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp311-cp311-linux_x86_64.whl size=1142923 sha256=72870eff79a00d26aee9ec768ff32a32186114e6976b136038134d4e8fefe4c4
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/3a/7c/1e/12404784a68083eb969f877a1808a1847bab897684b56ddc55
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.30
    Uninstalling SQLAlchemy-2.0.30:
      Successfully uninstalled SQLAlchemy-2.0.30
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
jupyterhub 4.1.5 requires SQLAlchemy>=1.4, but you have sqlalchemy 1.3.9 which is incompatible.
Successfully installed sqlalchemy-1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [4]:
!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable (from ipython-sql)
  Downloading prettytable-3.11.0-py3-none-any.whl.metadata (30 kB)
Requirement already satisfied: ipython in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (8.22.2)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Downloading SQLAlchemy-2.0.35-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.6 kB)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.5.1-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.3)
Requirement already satisfied: decorator in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (3.0.42)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5.13.0 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.11/site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/conda/lib/python3.11/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.11/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading SQLAlchemy-2.0.35-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.2/3.2 MB 116.4 MB/s eta 0:00:00
Downloading prettytable-3.11.0-py3-none-any.whl (28 kB)
Downloading sqlparse-0.5.1-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.2/44.2 kB 5.9 MB/s eta 0:00:00
Installing collected packages: sqlparse, sqlalchemy, prettytable, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed ipython-sql-0.5.0 prettytable-3.11.0 sqlalchemy-2.0.35 sqlparse-0.5.1

In [3]:
%load_ext sql

ModuleNotFoundError: No module named 'sql'

In [5]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [6]:
!pip install -q pandas

In [7]:
%sql sqlite:///my_data1.db

UsageError: Line magic function `%sql` not found.

In [9]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [10]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

UsageError: Line magic function `%sql` not found.

In [11]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

UsageError: Line magic function `%sql` not found.

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [12]:
conn = sqlite3.connect('my_data1.db')
# Query to get all table names from sqlite_master
query = "SELECT name FROM sqlite_master WHERE type='table';"

# Execute the query and load the result into a DataFrame
tables_df = pd.read_sql_query(query, conn)

# Print the table names
print("Table names:", tables_df['name'].tolist())

# Close the database connection
conn.close()

Table names: ['SPACEXTABLE', 'SPACEXTBL']

In [10]:
# Connect to the SQLite database
conn = sqlite3.connect('my_data1.db')

# Define table names
tables = ['SPACEXTBL', 'SPACEXTABLE']

# Loop through each table to get the column names
for table in tables:
    # Query to get column names using PRAGMA
    query = f"PRAGMA table_info({table})"
    
    # Execute the query and load the result into a DataFrame
    columns_info = pd.read_sql_query(query, conn)
    
    # Extract the column names from the DataFrame
    column_names = columns_info['name'].tolist()
    
    # Print the column names for each table
    print(f"Column names for table {table}: {column_names}")

# Close the database connection
conn.close()

Column names for table SPACEXTBL: ['Date', 'Time (UTC)', 'Booster_Version', 'Launch_Site', 'Payload', 'PAYLOAD_MASS__KG_', 'Orbit', 'Customer', 'Mission_Outcome', 'Landing_Outcome']
Column names for table SPACEXTABLE: ['Date', 'Time (UTC)', 'Booster_Version', 'Launch_Site', 'Payload', 'PAYLOAD_MASS__KG_', 'Orbit', 'Customer', 'Mission_Outcome', 'Landing_Outcome']

In [13]:
conn = sqlite3.connect('my_data1.db')

# SQL query to get the unique launch sites from SPACEXTBL
query = 'SELECT DISTINCT "Launch_Site" FROM SPACEXTBL'

# Execute the query and load the result into a DataFrame
unique_launch_sites = pd.read_sql_query(query, conn)

# Display the unique launch sites
print(unique_launch_sites)

    Launch_Site
0   CCAFS LC-40
1   VAFB SLC-4E
2    KSC LC-39A
3  CCAFS SLC-40


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [14]:
conn = sqlite3.connect('my_data1.db')

# SQL query to select 5 records where launch sites begin with 'CCA'
query = '''
    SELECT *
    FROM SPACEXTBL
    WHERE "Launch_Site" LIKE 'CCA%'
    LIMIT 5;
'''

# Execute the query and load the result into a DataFrame
cca_launch_sites = pd.read_sql_query(query, conn)

# Display the result
print(cca_launch_sites)

# Close the database connection
conn.close()

         Date Time (UTC) Booster_Version  Launch_Site  \
0  2010-06-04   18:45:00  F9 v1.0  B0003  CCAFS LC-40
1  2010-12-08   15:43:00  F9 v1.0  B0004  CCAFS LC-40
2  2012-05-22    7:44:00  F9 v1.0  B0005  CCAFS LC-40
3  2012-10-08    0:35:00  F9 v1.0  B0006  CCAFS LC-40
4  2013-03-01   15:10:00  F9 v1.0  B0007  CCAFS LC-40

                                             Payload  PAYLOAD_MASS__KG_  \
0               Dragon Spacecraft Qualification Unit                  0
1  Dragon demo flight C1, two CubeSats, barrel of...                  0
2                              Dragon demo flight C2                525
3                                       SpaceX CRS-1                500
4                                       SpaceX CRS-2                677

       Orbit         Customer Mission_Outcome      Landing_Outcome
0        LEO           SpaceX         Success  Failure (parachute)
1  LEO (ISS)  NASA (COTS) NRO         Success  Failure (parachute)
2  LEO (ISS)      NASA (COTS)         Success           No attempt
3  LEO (ISS)       NASA (CRS)         Success           No attempt
4  LEO (ISS)       NASA (CRS)         Success           No attempt

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [15]:
conn = sqlite3.connect('my_data1.db')

# SQL query to calculate the total payload mass carried by NASA (CRS) launches
query = '''
    SELECT SUM("PAYLOAD_MASS__KG_") AS total_payload_mass
    FROM SPACEXTBL
    WHERE "Customer" LIKE '%NASA (CRS)%';
'''

# Execute the query and load the result into a DataFrame
nasa_payload_mass = pd.read_sql_query(query, conn)

# Display the total payload mass
print(nasa_payload_mass)

# Close the database connection
conn.close()

   total_payload_mass
0               48213

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [12]:
conn = sqlite3.connect('my_data1.db')

# SQL query to calculate the average payload mass for booster version 'F9 v1.1'
query = '''
    SELECT AVG("PAYLOAD_MASS__KG_") AS average_payload_mass
    FROM SPACEXTBL
    WHERE "Booster_Version" = 'F9 v1.1';
'''

# Execute the query and load the result into a DataFrame
f9_v1_1_avg_payload_mass = pd.read_sql_query(query, conn)

# Display the average payload mass
print(f9_v1_1_avg_payload_mass)

# Close the database connection
conn.close()

   average_payload_mass
0                2928.4

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [17]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
conn = sqlite3.connect('my_data1.db')

# SQL query to find the first successful landing on a ground pad
query = '''
    SELECT MIN(Date) AS first_successful_landing_date
    FROM SPACEXTBL
    WHERE "Landing_Outcome" = 'Success';
'''

# Execute the query and load the result into a DataFrame
first_successful_landing = pd.read_sql_query(query, conn)

# Display the date of the first successful landing
print(first_successful_landing)

# Close the database connection
conn.close()

  first_successful_landing_date
0                    2018-07-22

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [18]:
conn = sqlite3.connect('my_data1.db')

# SQL query to list booster versions with successful drone ship landings and payload mass between 4000 and 6000 kg
query = '''
    SELECT "Booster_Version"
    FROM SPACEXTBL
    WHERE "PAYLOAD_MASS__KG_" BETWEEN 4000 AND 6000
    AND "Landing_Outcome" = "Success (drone ship)";
'''

# Execute the query and load the result into a DataFrame
successful_drone_landings = pd.read_sql_query(query, conn)

# Display the result
print(successful_drone_landings)

# Close the database connection
conn.close()

  Booster_Version
0     F9 FT B1022
1     F9 FT B1026
2  F9 FT  B1021.2
3  F9 FT  B1031.2

### Task 7




##### List the total number of successful and failure mission outcomes

In [19]:
conn = sqlite3.connect('my_data1.db')

# SQL query to count total successful and failure mission outcomes
query = '''
    SELECT 
        COUNT(CASE WHEN "Landing_Outcome" = 'Success' THEN 1 END) AS "Total_Successes", 
        COUNT(CASE WHEN "Landing_Outcome" = 'Failure' THEN 1 END) AS "Total_Failures" 
    FROM SPACEXTBL;
'''

# Execute the query and load the result into a DataFrame
mission_outcomes = pd.read_sql_query(query, conn)

# Display the result
print(mission_outcomes)

# Close the database connection
conn.close()

   Total_Successes  Total_Failures
0               38               3

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [18]:
conn = sqlite3.connect('my_data1.db')

# SQL query to list the booster versions that carried the maximum payload mass
query = '''
    SELECT "Booster_Version"
    FROM SPACEXTBL
    WHERE "PAYLOAD_MASS__KG_" = (SELECT MAX("PAYLOAD_MASS__KG_") FROM SPACEXTBL);
'''

# Execute the query and load the result into a DataFrame
max_payload_boosters = pd.read_sql_query(query, conn)

# Display the result
print(max_payload_boosters)

# Close the database connection
conn.close()

   Booster_Version
0    F9 B5 B1048.4
1    F9 B5 B1049.4
2    F9 B5 B1051.3
3    F9 B5 B1056.4
4    F9 B5 B1048.5
5    F9 B5 B1051.4
6    F9 B5 B1049.5
7   F9 B5 B1060.2
8   F9 B5 B1058.3
9    F9 B5 B1051.6
10   F9 B5 B1060.3
11  F9 B5 B1049.7

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [19]:
conn = sqlite3.connect('my_data1.db')

# SQL query to list the records of failure landing outcomes on drone ship for the year 2015
query = '''
    SELECT substr(Date, 6, 2) as month, 
           "Date", 
           "Booster_Version", 
           "Launch_Site", 
           "Landing_Outcome" 
    FROM SPACEXTBL 
    WHERE "Landing_Outcome" = 'Failure (drone ship)' 
    AND substr(Date, 0, 5) = '2015';
'''

# Execute the query and load the result into a DataFrame
failure_records_2015 = pd.read_sql_query(query, conn)

# Display the result
print(failure_records_2015)

# Close the database connection
conn.close()

  month        Date Booster_Version  Launch_Site       Landing_Outcome
0    01  2015-01-10   F9 v1.1 B1012  CCAFS LC-40  Failure (drone ship)
1    04  2015-04-14   F9 v1.1 B1015  CCAFS LC-40  Failure (drone ship)

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [20]:
conn = sqlite3.connect('my_data1.db')

# SQL query to count landing outcomes and rank them in descending order between specified dates
query = '''
    SELECT "Landing_Outcome", COUNT(*) AS outcome_count
    FROM SPACEXTBL
    WHERE "Date" BETWEEN "2010-06-04" AND "2017-03-20"
    GROUP BY "Landing_Outcome"
    ORDER BY outcome_count DESC;
'''

# Execute the query and load the result into a DataFrame
landing_outcome_ranking = pd.read_sql_query(query, conn)

# Display the result
print(landing_outcome_ranking)

# Close the database connection
conn.close()

          Landing_Outcome  outcome_count
0              No attempt             10
1    Success (drone ship)              5
2    Failure (drone ship)              5
3    Success (ground pad)              3
4      Controlled (ocean)              3
5    Uncontrolled (ocean)              2
6     Failure (parachute)              2
7  Precluded (drone ship)              1

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--
## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2024-07-10 | 1.1 |Anita Verma | Changed Version|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
-->

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>